

.fondo {
  background-color: rgb(0, 0, 0);
}

.header{
  color: white;
}

.header__image{
    position: relative;
  background-image:url(header.png);
}

.header__titulo{
  font-family: "Constantia", serif;
  position: relative;
  text-transform: uppercase;
  bottom:200px;
  left:300px;
}

  
.texto{
  color: whitesmoke;
  text-align: left;
  max-width: 60vw;
  margin: 10px;
  max-height: 100px;
  
  
}

.texto__titulo{
  color: rgb(194, 190, 190);
  font-family: "Consolas", monospace;
}

.texto__parrafo{
 font-family: "Constantia", serif;
 color: white;
}

.texto__footer{
  color: wheat;
}

.texto__footer--color{
  color: aliceblue;
}

.enlaces{
  margin: 10px;
  float: right;
  color: white; 
  width: 30vw;
  font-family: "Consolas", monospace;
}

.enlaces__titulo{
  font-family: "Consolas", monospace;
}

a{
  color: white;
}




